# LLM
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
ollama
faiss-cpu
nltk==3.8.1
ragas
openai
langchain==0.3.30

requests
python-dotenv
wikipedia
pandas

# DB
psycopg2-binary
pgvector
sqlalchemy